
body{
    background-color:blanchedalmond;
display:flex;
 }
#layout{
    display:flex;
}
#leftside{border:1px solid pink;
    background-color:cornflowerblue;
    color: hotpink;
    text-align: center;
    font-size: 40;
    width:50%;
    height:70%;
    flex:1;
   }

#rightside {border:1px solid pink;
    background-color:darkseagreen;
    width : 50%;
    height :100%;
    flex:1;
}
.form{
    margin: 2%;
}
#form1{
    padding:60px;
}
img[src]{
    width:100%;
    height: 100%;
}
